@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.leaderboard-table {
  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
    color: white;
    background: rgba(255, 255, 255, 0.05);
    min-width: 21rem;
    transition: transform 0.5s ease-in-out;
    &:nth-child(even) {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  &__cell {
    text-align: left;
    align-self: center;
    &--rank {
      width: 10%;
    }
    &--winner {
      width: 26%;
    }
    &--score {
      width: 6%;
    }
    &--date {
      width: 58%;
      text-align: right;
    }
  }
}
