@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.opponent-area {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: 24rem;
  height: 10vh;
  overflow: visible;
  background-image: $wood;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
  z-index: 1;
  @include tablet {
    flex-direction: row;
  }
  &__stat-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: auto;
    flex: 1;
    max-width: 9rem;
    // margin: auto;
    @include tablet {
      position: relative;
      top: 1.5rem;
      right: 2rem;
      max-width: 12rem;
    }
  }
  &--dark {
    background-size: 85px;
    background-image: $dark-wood;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
  }
  &__theme-button {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    cursor: pointer;
  }
}
