@font-face {
  font-family: "Rosarivo";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Rosarivo-Regular.ttf");
}

@font-face {
  font-family: "Rosarivo";
  font-style: italic;
  font-weight: 400;
  src: url("../../assets/fonts/Rosarivo-Italic.ttf");
}

@font-face {
  font-family: "Modern Antiqua";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/ModernAntiqua-Regular.ttf");
}
