body {
  font-family: "Modern Antiqua";
  min-width: 22rem;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><text x="0" y="20" font-size="20" fill="white">🃏</text></svg>'),
    auto;
}

a {
  text-decoration: none;
  color: inherit;
}
