@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.instructions-board {
  &__main-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    width: 100%;
    height: 65dvh;
    overflow: hidden;
    background-image: $wood;
    background-size: 85px;
    &--dark {
      background-image: $dark-wood;
    }
  }
  &__subcontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: $wood;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
    overflow: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
    &:-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
    }
    &--dark {
      background-size: 85px;
      background-image: $dark-wood;
      box-shadow: inset 0 0 10px rgb(0, 0, 0);
    }
  }
  &__title {
    display: flex;
    margin-bottom: 1rem;
    color: rgb(255, 217, 0);
    text-shadow: 0 1px rgba(0, 0, 0, 0.797);
    text-transform: uppercase;
  }
  &__content {
    display: flex;
    color: antiquewhite;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    height: max-content;
    @include tablet {
      flex-direction: row;
    }
  }
}

.section {
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px); /* For Safari */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
