@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  text-shadow: 0 3px rgba(82, 0, 106, 0.8);
  border: 2px solid gold;
  color: yellow;
  display: flex;
  width: 4rem;
  height: 6rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;

  @include tablet {
    width: 6rem;
    height: 9rem;
    font-size: 5rem;
  }

  &__blue {
    background-color: blue;
    // background-image: $blue-net;
    background-position: center;
    background-repeat: repeat;
    background-size: 20px;
    &--selected {
      @include selected-card;
    }
  }
  &__purple {
    background-color: purple;
    // background-image: $yellow-net;
    background-position: center;
    background-repeat: repeat;
    background-size: 10px;
    &--selected {
      @include selected-card;
    }
  }
  &__green {
    background-color: green;
    // background-image: $green-net;
    background-position: center;
    background-repeat: repeat;
    background-size: 20px;
    &--selected {
      @include selected-card;
    }
  }
  &__red {
    background-color: red;
    // background-image: $red-net;
    background-position: center;
    background-repeat: repeat;
    background-size: 20px;
    &--selected {
      @include selected-card;
    }
  }
  &:hover {
    @include tablet {
      @include hover-card;
    }
  }
  &:active {
    @include active-card;
  }
  &--inactive {
    @include inactive-card;
  }
  &--selected {
    @include selected-card;
  }
  &--net {
    // animation: changeColors 5s infinite linear;
    background-color: black;
  }
}

// @keyframes changeColors {
//   0% {
//     border-color: gold;
//     text-shadow: 0 1px purple;
//   }
//   25% {
//     border-color: rgb(75, 75, 255);
//     text-shadow: 0 3px rgb(75, 75, 255);
//   }
//   50% {
//     border-color: rgb(255, 161, 246);
//     text-shadow: 0 5px rgb(255, 74, 225);
//   }
//   75% {
//     border-color: rgb(75, 75, 255);
//     text-shadow: 0 3px rgb(75, 75, 255);
//   }
//   100% {
//     border-color: gold;
//     text-shadow: 0 1px purple;
//   }
// }

// @keyframes changeColors {
//   0% {
//     border-color: gold;
//     text-shadow: 0 1px purple;
//   }
//   10% {
//     border-color: gold;
//     text-shadow: 0 1.5px purple;
//   }
//   20% {
//     border-color: rgb(75, 75, 255);
//     text-shadow: 0 2px rgb(75, 75, 255);
//     color: purple;
//   }
//   30% {
//     border-color: rgb(75, 75, 255);
//     text-shadow: 0 3px rgb(75, 75, 255);
//   }
//   40% {
//     border-color: rgb(255, 161, 246);
//     text-shadow: 0 4px rgb(255, 74, 225);
//   }
//   50% {
//     border-color: rgb(255, 161, 246);
//     text-shadow: 0 5px rgb(61, 0, 51);
//     color: white;
//   }
//   60% {
//     border-color: rgb(255, 161, 246);
//     text-shadow: 0 4px rgb(255, 74, 225);
//   }
//   70% {
//     border-color: rgb(75, 75, 255);
//     text-shadow: 0 3px rgb(75, 75, 255);
//   }
//   80% {
//     border-color: rgb(75, 75, 255);
//     text-shadow: 0 2px rgb(75, 75, 255);
//     color: purple;
//   }
//   90% {
//     border-color: gold;
//     text-shadow: 0 1.5px purple;
//   }
//   100% {
//     border-color: gold;
//     text-shadow: 0 1px purple;
//   }
// }
