@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.player-area {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 25dvh;
  overflow: visible;
  background-image: $wood;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
  @include tablet {
    flex-direction: row;
  }
  &__stat-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: auto;
    flex: 1;
    max-width: 12rem;
    margin: 0.5rem auto;
    position: relative;
  }
  &--dark {
    background-size: 85px;
    background-image: $dark-wood;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
  }
  &__theme-button {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    cursor: pointer;
  }
}
