@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.player-area {
  display: flex;
  flex-direction: column;
  min-width: 24rem;
  height: 30vh;
  overflow: hidden;
  background-image: $wood;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
  @include tablet {
    flex-direction: row;
  }
  &__stat-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: auto;
    flex: 1;
    max-width: 12rem;
    margin: auto;
  }
  &--dark {
    background-size: 90px;
    background-image: $dark-wood;
    box-shadow: inset 0 0 10px rgba(60, 10, 73, 0.623);
  }
}
