@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.table {
  position: relative;
  // background-image: $table-cloth;
  background-image: $green-cloth;
  background-size: 15px;
  border: 0.5rem solid rgba(201, 83, 10, 0.912);
  box-shadow: inset 0 0 10px rgba(175, 255, 62, 0.758);
  gap: 1.5rem;
  padding: 3rem;
  align-items: center;
  display: flex;
  height: 55vh;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  overflow: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
  &:-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  &__theme-button {
    font-size: 1rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
  }
  &__home-button {
    font-size: 1rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    &:hover {
      transform: scale(150%);
    }
    // padding: 0.3rem;
    // border-radius: 5%;
    // border: solid 2px goldenrod;
    // color: gold;
    // text-transform: uppercase;
    // background-color: purple;
    // font-size: 1rem;
  }
  &__game-over {
    text-shadow: 0 3px rgba(155, 5, 200, 0.8);
    color: yellow;
    display: flex;
    min-width: 4rem;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // animation: bounce 2s;
  }
  &--dark {
    background-size: 15px;
    // background-image: $purple-flowers-cloth;
    background-image: $brown-cloth;
    box-shadow: inset 0 0 10px $table-light-dark-theme;
    border: 0.5rem solid rgba(72, 29, 1, 0.912);
  }
  @include tablet {
    height: 65vh;
    padding: 4rem;
  }
}

// @keyframes bounce {
//   0% {
//     transform: translateY(0);
//   }
//   20% {
//     transform: translateY(-50px);
//   }
//   40% {
//     transform: translateY(0);
//   }
//   60% {
//     transform: translateY(-35px);
//   }
//   80% {
//     transform: translateY(0);
//   }
//   90% {
//     transform: translateY(-15px);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }
