@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.table {
  background-image: $table-cloth;
  border: 0.5rem solid rgba(201, 83, 10, 0.912);
  box-shadow: inset 0 0 10px rgba(175, 255, 62, 0.758);
  gap: 1.5rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  height: 70vh;
  min-width: 24rem;
  overflow: hidden;
  flex-wrap: wrap;
  overflow: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
  &:-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  @include tablet {
  }
  &--dark {
    background-size: 25px;
    background-image: $dark-purple-cloth;
    box-shadow: inset 0 0 10px rgba(60, 10, 73, 0.623);
    border: 0.5rem solid rgba(111, 43, 0, 0.912);
  }
}
