.audio-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
